<div class="row justify-content-center">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="/assets/paoqueijo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Saquinho de pao de queijo</h5>
              <p class="card-text">Compre o delicioso pão de queijo do café do centro.</p>
              <p class="card-text">R$120,00</p>
              <a href="/home" class="btn btn-primary" (click)="comprar('paoqueijo')">Comprar</a>
            </div>
          </div>
          
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="/assets/almoco.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Delicioso Almoço</h5>
              <p class="card-text">Vale um almoço de 15,00 reais no Top Grill.</p>
              <p class="card-text">R$150,00</p>
              <a href="/home" class="btn btn-primary" (click)="comprar('almoco')">Comprar</a>
            </div>
          </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="/assets/pacoca.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Paçoca do Diogo</h5>
              <p class="card-text">Vale uma paçoca, a paçoca mais vendida do centro.</p>
              <p class="card-text">R$90,00</p>
              <a href="/home" class="btn btn-primary" (click)="comprar('pacoca')">Comprar</a>
            </div>
          </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="/assets/chocolate.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chocolate Cacau Show</h5>
              <p class="card-text">Vale uma caixa de chocolate, a caixa especial de natal</p>
              <p class="card-text">R$500,00</p>
              <a href="/home" class="btn btn-primary" (click)="comprar('chocolate')">Comprar</a>
            </div>
          </div>
    </div>
  </div>
  
  
