<div class="container">
    <div class="ordem-compra">
        <form
            novalidate
        >
            <div class="form-row">
                <div class="col-sm-5">
                    Departamento
                    <input
                        type="text"
                        class="form-control"
                    >
                </div>
                <div class="col-sm-5">
                    Vendedor
                    <input
                        type="text"
                        class="form-control"
                    >
                </div>
                <div class="col-sm-2">
                    Data
                    <input
                        type="text"
                        class="form-control"
                        placeholder="dd/MM/yyyy"
                    >
                </div>
            </div>

            <div class="grid">
                
                <div class="row">
                    <div class="col-sm-4">
                        Itens de avaliação
                    </div>
                    
                    <div class="col-sm-2">
                        Meta
                    </div>
                        
                    <div class="col-sm-2">
                        Realizado
                    </div>
                        
                    <div class="col-sm-2">
                        Variação (%)
                    </div>
                        
                    <div class="col-sm-2">
                        Pontuação
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        Volume de vendas
                    </div>
                    
                    <div class="col-sm-2">
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                        
                    <div class="col-sm-2">
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                        
                    <div class="col-sm-2">
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                        
                    <div class="col-sm-2">
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        Quantidade de Clientes Positivados
                    </div>
                    
                    <div class="col-sm-2">
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                        
                    <div class="col-sm-2">
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                        
                    <div class="col-sm-2">
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                        
                    <div class="col-sm-2">
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        Quantidade de Clientes Novos
                    </div>
                    
                    <div class="col-sm-2">
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                        
                    <div class="col-sm-2">
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                        
                    <div class="col-sm-2">
                        <!-- % dos clientes -->
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                        
                    <div class="col-sm-2">
                        <!-- Pontuacao dos clientes = % clientes -->
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 float-right">
                        Total:
                    </div>
                    <div class="col-sm-2 float-right">                        
                        <input
                            type="text"
                            class="form-control"
                        >
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-12">
                    Observações
                    <input
                        type="textarea"
                        class="form-control"
                    >
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-12">
                    Avaliador
                    <input
                        type="textarea"
                        class="form-control"
                    >
                </div>
            </div>
        <hr />
        <button type="submit" class="btn btn-primary btn-lg">Cofirmar</button>
        </form>
    </div>
</div>