img {
    position: absolute
}
.banner-background {
    background-image: url("/assets/banner-acesso/produt.PNG");
    height: 602px;
    width: 379px;
    padding-top: 91px;
    padding-left: 116px;
    background-repeat: no-repeat;
}